* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

html, body, #root {
  width: 100% !important;
  height: 100% !important;
  background-color: #f5a9cb !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}