.login-container {
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #9b1250 !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}